<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="OmniBuilder AI"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://site.urbanbuildomniflow.app"/>
            <intent-filter android:autoVerify="true">
                
<action android:name="android.intent.action.MAIN"/ data-content-length="553" data-is-complete="false">
